@model FooterModel
<footer class="copyrights">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                @Setting("general.copyright").Value
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="copyrights--right">
                    Kişisel Blog
                </div>
            </div>
        </div>
    </div>
</footer>